doctype
html
  head
    title #{title} - PassportJS-Authentication
    link(rel='stylesheet', href='../libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/style.css')
    script(type='text/javascript' src='../libs/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='../libs/bootstrap/dist/js/bootstrap.min.js')
  body
    table
      tr
        td
          .container
            .jumbotron
              .text-center
                .row
                  block content
